* text=auto eol=lf working-tree-encoding=UTF-8

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.mp3 binary
*.wav binary
*.m4a binary
*.mp4 binary
*.mov binary
*.webm binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
